body{
    background-color: #264653;
}

header{
    background-color: #2a9d8f;
}

main{
    background-color: #e9c46a;
}

table{
    background-color: #f4a261;
}

footer{
    background-color: #e76f51;
}